@import "./vars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 280px);
  z-index: 0;
}

.App {
  header {
    width: 100%;
    height: 280px;
    background: url("../images/pattern-bg.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h1 {
      color: $c-white;
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 35px;
      margin-top: 35px;
    }

    .adress-container {
      width: 1110px;
      min-height: 160px;
      background-color: $c-white;
      color: $c-pri;
      position: absolute;
      top: 200px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      padding: 35px 0;
      justify-content: space-between;
      z-index: 1;
      font-family: "Rubik", sans-serif;
      font-size: 26px;
      font-weight: 700;
      .title {
        border-left: 1px solid $c-sec;
        padding: 10px 50px;
        &:first-child {
          border: none;
        }
      }
      h2 {
        color: $c-sec;
        font-size: 12px;
        letter-spacing: 2px;
      }
      div {
        padding-top: 10px;
      }
    }
    .search {
      margin-top: 35px;
      display: flex;
      input {
        height: 60px;
        width: 500px;
        border-radius: 15px 0 0 15px;
        border: none;
        outline: none;
        padding: 20px;
        font-size: 18px;
      }

      button {
        width: 60px;
        height: 60px;
        border: none;
        outline: none;
        border-radius: 0 15px 15px 0;
        background-color: $c-sec;
        &:hover {
          background-color: $c-pri;
        }

        img {
          width: 15px;
          height: auto;
        }
      }
    }
  }
}
